<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apptitudedigitalsolutions.ads">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".Application.ADSApplication"
        >

        <activity
            android:name=".Main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape">
        </activity>


        <activity
            android:name=".AssessmentCenter.ACAdminActivity"
            android:label="Interview Admin"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".AssessmentCenter.ACSelectActivityActivity"
            android:label="AC select"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape">
        </activity>


        <activity
            android:name=".TestCenter.TestAdminActivity"
            android:label="Test Admin"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape">

        </activity>


        <activity
            android:name=".AssessmentCenter.ACInterviewActivity"
            android:label="Test Admin"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape">

        </activity>

        <activity
            android:name=".AssessmentCenter.ACActivityReviewActivity"
            android:label="Test Admin"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape">

        </activity>


        <activity
            android:name=".TestCenter.TestActivity"
            android:label="Test Admin"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape">

        </activity>

        <activity
            android:name=".AssessmentCenter.ACRoleplayActivity"
            android:label="Test Admin"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape">

        </activity>

        <activity
            android:name=".AssessmentCenter.ACPresentationActivity"
            android:label="Test Admin"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape">

        </activity>

        <activity
            android:name=".Landing.LandingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>